:root {
  /* fonts */
  --body-p: Montserrat;
  --font-inter: Inter;
  --font-josefin-sans: "Josefin Sans";
  --font-inherit: inherit;
  --font-ubuntu: Ubuntu;
  --font-helvetica: Helvetica;
  --font-segoe-ui: "Segoe UI";
  --font-kenia: Kenia;
  --paragraph: Roboto;

  /* font sizes */
  --font-size-8xs: 10px;
  --font-size-7xs: 12px;
  --font-size-6xs: 13px;
  --font-size-5xs: 14px;
  --font-size-4xs: 15px;
  --paragraph-size: 16px;
  --font-size-2xs: 17px;
  --body-p-size: 18px;
  --font-size-sm: 20px;
  --font-size-base: 21px;
  --font-size-lg: 22px;
  --font-size-xl: 23px;
  --body-h4-size: 24px;
  --font-size-3xl: 25px;
  --font-size-4xl: 26px;
  --font-size-5xl: 27px;
  --font-size-6xl: 32px;
  --font-size-7xl: 34px;
  --body-p-large-size: 36px;
  --font-size-9xl: 38px;
  --font-size-10xl: 40px;
  --font-size-11xl: 42px;
  --sub-page-h1-size: 48px;
  --font-size-13xl: 60px;
  --font-size-14xl: 64px;
  --font-size-15xl: 67px;
  --font-size-16xl: 68px;
  --font-size-17xl: 69px;
  --font-size-18xl: 75px;
  --font-size-19xl: 76px;
  --font-size-20xl: 80px;
  --font-size-21xl: 96px;
  --font-size-22xl: 123px;
  --font-size-23xl: 128px;
  --font-size-24xl: 232px;
  --font-size-25xl: 300px;

  /* Colors */
  --color-gray-100: #fffefe;
  --color-gray-200: #fffcfc;
  --color-gray-300: #f3f3f3;
  --color-gray-400: #efefef;
  --color-gray-500: #d9d9d9;
  --color-gray-600: #d3d3d3;
  --color-gray-700: #d2d2d2;
  --color-gray-800: #ccc;
  --color-gray-900: #c4c4c4;
  --color-gray-1000: #a6a6a6;
  --color-gray-1100: #8f8f8f;
  --color-gray-1200: #8c8c8c;
  --color-gray-1300: #888;
  --color-gray-1400: #8c8c73;
  --color-gray-1500: #868686;
  --actionable-item: #18a0fb;
  --color-gray-1700: #787878;
  --color-gray-1800: #6f6f6f;
  --color-gray-1900: #666;
  --color-gray-2000: #414141;
  --color-gray-2100: #363636;
  --color-gray-2200: #333;
  --color-gray-2300: #2d2d2d;
  --color-gray-2400: #2b2b2b;
  --color-gray-2500: #272727;
  --color-gray-2600: #262626;
  --color-gray-2700: #0c2640;
  --color-gray-2800: #1e1e1e;
  --color-gray-2900: #260c26;
  --color-gray-3000: #181818;
  --color-gray-3100: rgba(255, 255, 255, 0.4);
  --color-gray-3200: rgba(217, 217, 217, 0.11);
  --color-gray-3300: rgba(0, 0, 0, 0.05);
  --color-gray-3400: rgba(255, 255, 255, 0.8);
  --color-gray-3500: rgba(255, 255, 255, 0.72);
  --color-green-100: #60fe72;
  --color-green-200: #2fff37;
  --color-black: #000;
  --color-indigo: #7b61ff;
  --white: #fff;
  --color-beige: #feffc9;

  /* Gaps */
  --gap-7xs: 1px;
  --gap-6xs: 5.5px;
  --gap-5xs: 8px;
  --gap-4xs: 9.5px;
  --gap-3xs: 10px;
  --gap-2xs: 10.5px;
  --gap-xs: 14.5px;
  --gap-sm: 14px;
  --gap-md: 15.5px;
  --gap-lg: 15px;
  --gap-xl: 20px;
  --gap-2xl: 20.5px;
  --gap-3xl: 29px;
  --gap-4xl: 30px;
  --gap-5xl: 31px;
  --gap-6xl: 126px;

  /* Paddings */
  --padding-18xs: 0.125px;
  --padding-17xs: 0.56561279296875px;
  --padding-16xs: 0.5px;
  --padding-15xs: 0.0017981895944103599px;
  --padding-14xs: 0.0018028846243396401px;
  --padding-13xs: 1.03436279296875px;
  --padding-12xs: 1.31561279296875px;
  --padding-11xs: 1px;
  --padding-10xs: 2.25px;
  --padding-9xs: 2px;
  --padding-8xs: 3px;
  --padding-7xs: 13.5px;
  --padding-6xs: 16.90625px;
  --padding-5xs: 20px;
  --padding-4xs: 30px;
  --padding-3xs: 31px;
  --padding-2xs: 33px;
  --padding-xs: 37.90936279296875px;
  --padding-sm: 40px;
  --padding-md: 48px;
  --padding-lg: 50px;
  --padding-xl: 54.51873779296875px;
  --padding-2xl: 60px;
  --padding-3xl: 61px;
  --padding-4xl: 68px;
  --padding-5xl: 71px;
  --padding-6xl: 72.921875px;
  --padding-7xl: 80px;
  --padding-8xl: 85px;
  --padding-9xl: 140.09375px;
  --padding-10xl: 149.90625px;
  --padding-11xl: 189px;
  --padding-12xl: 229px;
  --padding-13xl: 255.953125px;
  --padding-14xl: 387px;
  --padding-15xl: 402px;
  --padding-16xl: 409px;
  --padding-17xl: 494.140625px;
  --padding-18xl: 573.234375px;

  /* border radiuses */
  --br-6xs: 3.5px;
  --br-5xs: 4.5px;
  --br-4xs: 4px;
  --br-3xs: 5px;
  --br-2xs: 6px;
  --br-xs: 8px;
  --br-sm: 12px;
  --br-md: 16px;
  --br-lg: 19px;
  --br-xl: 61px;
  --br-2xl: 82px;
  --br-3xl: 119px;
  --br-4xl: 125px;
  --br-5xl: 152px;
}
